/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: lightslategray;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    min-height: 1000px;
    border: 1px solid black;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 500px;
    border: 1px solid red;
}

.logo-container img {
    height: 50px;
    padding-left: 10px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Love Ya Like a Sister', cursive;
}

.logo-container {
    display: flex;
    align-items: center;
    border: 1px solid blue;
    width: 50%;
}

nav a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 50%;
}

header {
    display: flex;
    align-items: center;
    width: 900px;
    position: fixed;
    top: 0;
    z-index: 1;
}