/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color:#AAB2BD;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    min-height: 1000px;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 500px;
    padding-top: 60px;
}

.logo-container img {
    height: 50px;
    padding-left: 10px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Love Ya Like a Sister', cursive;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 50%;
}

nav a {
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 50%;
}

header {
    display: flex;
    align-items: center;
    width: 900px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #AAB2BD
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
}

.form h2 {
    width: 70%;
    margin-left: 15%;
}

.form form {
    width: 40%;
    margin-left: 30%;
}

input {
    padding: 12px 20px;
    margin: 10px 10%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

input[type=submit] {
    width: 40%;
    background-color: darkcyan;
    color: white;
    padding: 10px 5px;
    margin: 10px 30%;
    border-radius: 1px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: darkslateblue;
  }

.dropshadow {
      width: 40%;
      margin: 20px 30%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.list-item {
    display: flex;
    align-items: center;
}

.list-item img {
    width: 50px;
}

.list {
    width: 80%;
    margin: 0 10%;
}

.main p {
    margin-bottom: 1.6rem;
    line-height: 1.3;
}

.list-item {
    margin-bottom: 15px;
}

.list-item img {
    padding-right: 5px;
}

.list-item p {
    margin-bottom: .75rem;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
}

.list-item h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #5F634C;
}

iframe {
    display: block;
    margin: 0 auto;
}

.plans {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    width: 30%;
    background-color: #BDCDD2;
}

.pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic-container img {
    height: 200px;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.headline {
    font-size: 3rem;
    color: #231717;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

.label {
    background-color: #3E465F;
    height: 75px;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 2.5rem;
}

.plan-info {
    padding: 15px;
}

.plan-info p {
    margin-bottom: 20px;
}

.plan-info ul {
    list-style: disc inside;
}

.plan-info ul li {
    margin-bottom: 10px;
}

.logo-container a {
    text-decoration: none;
    color: black;
}